ancoralex-es-2.0.3.zip
ancoralex-es-2.0.3/ancoralex-2.0.3/LICENCIA.html
ancoralex-es-2.0.3/ancoralex-2.0.3/LICENSE
ancoralex-es-2.0.3/ancoralex-2.0.3/LLICENCIA.html
ancoralex-es-2.0.3/ancoralex-2.0.3/README
*.pyc
*.lex.xml